<!-- Form Pet -->

<div class="container-fluid">
  <h3>Cadastre o seu Pet</h3>
  <hr>
  <form>
    <div class="form-group">
      <div class="row">
        <div class="col-md-4">
          <label class="control-label">Nome</label>
          <input type="text" class="form-control" name="nome" id="nome">
        </div>
      </div>
    </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label class="control-label">Raça</label>
            <input type="text" class="form-control" name="raca" id="raca">
          </div>
          <div class="col-md-1">
            <label class="control-label">Idade</label>
            <input type="text" class="form-control" name="idade" id="idade">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label class="control-label">Proprietário</label>
            <input type="text" class="form-control" name="dono" id="dono">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label class="control-label">Foto do Pet</label>
            <input type="file" class="form-control" name="foto" id="foto">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <button type="" class="btn btn-primary">Cadastrar</button>
            <button type="" class="btn btn-default">Cancelar</button>
          </div>
        </div>
      </div>
  </form>
</div>
  <!-- End Form -->
