<div class="container">
  <div class="simple-page-header container-fluid">
    <div class="page-header">
      <h1>Bem vindo! <small>Proprietário de animais</small></h1>
    </div>
  </div>

  <div class="container-fluid col-xs-4">
    <div class="list-group">
      <a routerLink="/cadastro-pet" class="list-group-item">Cadastre um pet</a>
      <a routerLink="/agendamento" class="list-group-item">Agende um passeio</a>
      <a routerLink="/listar-passeador" class="list-group-item">Passeadores disponíveis</a>
      <a [routerLink]="['/editar-proprietario/'+id]" class="list-group-item">Alterar cadastro</a>
      <a routerLink="/lista-pet" class="list-group-item">Lista de pets cadastrados</a>
    </div>
  </div>

  <div class="container-fluid col-xs-8">
    <div class="well">
      <h1 class="glyphicon glyphicon-book"><span> Minha lista de passeios</span></h1>
    </div>
    <div>
      <table class="table table-striped">
        <tr>
          <th>Data</th>
          <th>Passeador</th>
          <th>Duração</th>
          <th></th>
        </tr>

        <tr *ngFor="let agenda of agendas; let id=index">
          <td>{{ agenda.dataPassaeio }}</td>
          <td>{{ agenda.nomePasseador }}</td>
          <td>{{ agenda.tempoDuracao }}</td>
          <td>
            <a class="btn btn-info" [routerLink]="['/editar-agendamento/'+id]">Editar</a>
            <button type="button" class="btn btn-danger" (click)="excluirAgenda(id)">Excluir</button>
          </td>
        </tr>

      </table>
      <!--<modal-util-->
      <!--[id]="'modalExcluir'"-->
      <!--[titulo]="'Excluir Aluno'"-->
      <!--[descricao]="'Deseja realmente excluir o aluno selecionado?'"-->
      <!--(onConfirm)="onExcluir($event)">-->
      <!--</modal-util>-->
    </div>
  </div>

</div>