<div class="container-fluid">
  <h2>Agenda de passeios</h2>

    <form role="form">
      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label class="control-label">Escolha uma passeador</label>
            <input type="text" class="form-control" name="nomePasseador" id="nomePasseador" [(ngModel)]="agendamento.nomePasseador">
          </div>
          <div class="col-md-4">
            <label class="control-label">Escolha o seu pet</label>
            <input type="text" class="form-control" name="nomePet" id="nomePet" [(ngModel)]="agendamento.nomePet">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <label class="control-label">Escolha a data</label>
            <input type="text" class="form-control" name="data" id="data" placeholder="01/01/2000" [(ngModel)]="agendamento.dataPassaeio">
          </div>
          <div class="col-md-2">
            <label class="control-label">Escolha a hora do início</label>
            <input type="text" class="form-control" name="horaInicio" id="horaInicio" [(ngModel)]="agendamento.horaInicio">
          </div>
          <div class="col-md-2">
            <label class="control-label">Escolha o tempo de duração</label>
            <input type="text" class="form-control" name="duracao" id="duracao" [(ngModel)]="agendamento.tempoDuracao">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-md-4">
            <button class="btn btn-primary" (click)="cadastrar()">Agendar</button>
            <button type="" class="btn btn-default">Cancelar</button>
          </div>
        </div>
      </div>

    </form>
</div>
