/* opcoes-cadastro.html */
.perfil {
  margin-top: 50px;
  text-align: center;
}

.titulo {
  margin-top: 40px;
  text-align: center;
}
/*----------------------*/

/* proprietario-perfil.html */
.simple-page-header {
  padding-bottom: 9px;
  margin: 50px 0 20px;
}
