<div id="main" class="container-fluid">
    <h3 class="page-header">Cadastre o seu pet</h3>
    <form action="">
        <hr>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Nome</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Idade</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Raça</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Proprietário do pet</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Foto</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary">Salvar</button>
            </div>
            <div class="col-md-12">
                <button class="btn btn-default">Cancelar</button>
            </div>
        </div>
    </form>
</div>