<div id="main" class="container-fluid">
    <h3 class="page-header">PASSEADOR - Faça o seu cadastro</h3>
    <form role="form">
        <hr>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Nome</label>
                <input type="text" name="nome" class="form-control" id="nome" [(ngModel)]="passeador.nome">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Endereço</label>
                <input type="text" name="endereco" class="form-control" id="endereco" [(ngModel)]="passeador.endereco">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Número</label>
                <input type="text" name="numero" class="form-control" id="numero" [(ngModel)]="passeador.numero">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Complemento</label>
                <input type="text" name="complemento" class="form-control" id="complemento" [(ngModel)]="passeador.complemento">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Cidade</label>
                <input type="text" name="cidade" class="form-control" id="cidade" [(ngModel)]="passeador.cidade">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Cep</label>
                <input type="text" name="cep" class="form-control" id="cep" [(ngModel)]="passeador.cep">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Celular/Fixo</label>
                <input type="text" name="fone" class="form-control" id="fone" [(ngModel)]="passeador.telefone">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Preço por passeio</label>
                <input type="text" name="preco" class="form-control" id="preco" [(ngModel)]="passeador.preco">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Email</label>
                <input type="text" name="email" class="form-control" id="email" [(ngModel)]="passeador.email">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Senha</label>
                <input type="text" name="senha" class="form-control" id="senha" [(ngModel)]="passeador.senha">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Confirme a senha</label>
                <input type="text" name="confirmar" class="form-control" id="confirmar" [(ngModel)]="passeador.confirmarSenha">
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-1">
                <button class="btn btn-primary" (click)="cadastrar()">Salvar</button>
            </div>
            <div class="col-md-1">
                <button class="btn btn-default">Cancelar</button>
            </div>
        </div>
    </form>
</div>